// Essential javascripts for application to work
script(src='js/lib/jquery-3.2.1.min.js')
script(src='js/lib/popper.min.js')
script(src='js/lib/bootstrap.min.js')
script(src='js/lib/main.js')

// The javascript plugin to display page loading on top
script(src='js/lib/plugins/pace.min.js')
