extends layouts/_layout.pug

block variables
	- var activePage = 'settings'
	- var activeGroup = 'none'

block content
	.app-title
		div
			h1
				i.fa.fa-cog
				|  Settings
			p A Discord guild portal boilerplate

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='/') Settings